.parallax {
  /* The image used */
  background-image:url("/images/kelly-sikkema-zcAgxLryKe4-unsplash\ \(1\).jpg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: rgba(255, 255, 255, 0.92);
}

/* the cards div */
.div1 {
  height: 750px;
}

.coins {
  margin: 5px;
}
/* the cards body */
.card {
  margin: 0 auto;
  /* Added */
  margin-left: 10px;
  float: none;
  margin-bottom: 10px;
  /* Added */
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  margin-top: 15px;
}
/* the pic in about */
img {
  margin-left: 150px;
}

/* the collapse card in the card */
#cardCollapse {
  background-color:rgb(33, 136, 56);
}

/* button of display coins */
#about {
  text-align: center;
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-left: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(33, 136, 56)
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a {
  margin-left: 15px;
}

#page {
  display: none;
}

/* loading icon */
.loading_container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(52, 58, 64);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.5s linear infinite;
}

#spin {
  border-radius: 10px;
  height: 50px;
  animation: spin 4s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#spin {
  color: white;
  padding: 20px;
}

#navbarTogglerDemo01 {
  padding: 5px;
}

#cardCollapse{
font-weight: 500;
}